.invigilatorScanContainer {
  .invigilatorScannners {
    display: flex;
    justify-content: center;
    gap: 5rem;
    .scanBtn {
      padding: 0.5rem;
      background-color: #4747ff;
      border: none;
      outline: none;
      width: 100%;
      border-radius: 15px;
      margin: 1rem auto;
      cursor: pointer;
      h3 {
        margin: 0;
        color: aliceblue;
        font-weight: 100;
      }
    }
    .invigilatorScanner {
      width: 20rem;
      height: 20rem;
      border: 1px solid;
    }
  }
  .scanNxtBtn {
    padding: 0.5rem;
    background-color: #4747ff;
    border: none;
    outline: none;
    width: 15rem;
    border-radius: 15px;
    margin: 1rem auto;
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    h3 {
      margin: 0;
      color: aliceblue;
      font-weight: 100;
    }
  }
}
